* {
	margin: 0;
	padding:0;
}

nav{
	width: 100%;
	height: 50px;
	background-color: no-color;
	padding: 0;
	margin: 0;
	text-align: right;
}

ul {

}

ul li {
	list-style: none;
	display: inline-block;
	line-height: 50px;
}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
	color: #2c1907;
	padding: 0 20px;
	text-align: center;
}
ul li a:hover {
	color: red;
}

#container{
	display:flex;
	margin-top:200px;
	margin-left:50px;
	
}
a:link{
	text-decoration:none;
	color:#2c1907;
}

h2{
	text-decoration-line: none;
	font-family:arial;
	color:black;
}